
[submodule "publish/src/main/java/utils"]
	path = publish/src/main/java/utils
	url = git@github.com:xjxlx/pluginUtils.git

[submodule "common/src/main/java/utils"]
	path = common/src/main/java/utils
	url = git@github.com:xjxlx/pluginUtils.git

[submodule "version/src/main/java/utils"]
	path = version/src/main/java/utils
	url = git@github.com:xjxlx/pluginUtils.git
